
 <!DOCTYPE html>
<html>
<head>
	<style>
	
		body
		{
			background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Books_HD_%288314929977%29.jpg/1280px-Books_HD_%288314929977%29.jpg');
		}
		h1
		{

			text-align: center;
			font-weight: bold;
			font-size: 50px;
            margin-top: 5%;
            font-family: 'Great Vibes', cursive;

		}
		h2{
			color: red;
			text-decoration-line: none;
			border:1px solid white;
			margin: auto;
			padding: 20px;
			width: 40%;
			background: white;
			border-radius: 30px;
		}
		button{
			margin-top: 20px;
			font-size: 23px;
			text-align: center;
			text-decoration: none;
			padding: 10px 15px 10px 15px;
			border-radius: 10px;
			background-color:#ad1f83 ;
		}
		#btn1 
		{
			
		    color: white;
		    margin-left: 37%;
		    top:20%;

		}
		#btn2
		{
			color: white;
			margin-left:40px;
			padding: 10px 15px 10px 15px;
			border-spacing: 12px;
		}
		
	</style>
</head>
<body>
      
      
     <h1 style="color: black;">Welcome to Book Management System!!!</h1>
     <h2 style="color: white; text-align: center;"><%= link_to "Go to Welcome book store", controller: "book", action: 'welcome' %></h2>
   
     	 <!--<a href="list">
     	 	
           <button id="btn1">Show Book</button>
       </a>-->
         
     
</body>
</html>

