
<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		h1{
			color: white;}
	</style>
</head>
<body>
     <h1>New Employee</h1>

<%= render 'form', employee: @employee %>

<%= link_to 'Back', employees_path %>

</body>
</html>
